*{
	margin:0;
	padding:0;
	width:100%;
	
}


nav > button{
	
	margin-left:20px;
	align: inline;
	width: 5rem;
	height: 5rem;
	border-radius:25px;
}
.quoteContainer{
	font-family: 'Merienda', cursive;}
