/* CSS Backup
 */
*{
padding:0; 
width:98%;
}

/* Header Styles */
.headercontainer{
background-image: url('../img/waterfall.gif');
background-size: 100%;
border: 8px groove #804000;
border-radius:100px;
margin:.5rem;
}
.linkbar {
display:grid;
grid-template-rows:1fr;
grid-template-columns: 1fr 1fr 1fr   ;
border: 8px groove grey;
background: #408000;
border-radius:25px;
width:30rem;
font: 25px 'Chela One', cursive;
margin:auto;
padding: 5px;
}
.linkbar > a{
   color: #804000;
    cursor: pointer;
    text-decoration: none;}
{

/* Home Page Style */
 
.parkContainer{

}


}


/* Detail Page Style */
.detailpageContainer{
background: tan;
}


.detailImg{
width:95%;
}


.quoteContainer{
font-family: 'Merienda', cursive;
width:75%;
}
.parkInfoContainer{
display:grid;
grid-template-columns: repeat(8, 1fr) ;
grid-template-rows:1fr 1fr;
padding: .5rem;
margin:.5rem;
}
}
.parkInfoContainer > span{
padding: 1%;
width: 75%;
}

.parkInfoContainer > span:nth-child(odd){
}
.weathercontainer{
	display:inline;
	
background: -moz-linear-gradient(left, rgba(30,87,153,1) 0%, rgba(41,137,216,1) 37%, rgba(125,185,232,1) 51%, rgba(125,185,232,1) 51%, rgba(32,124,202,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, rgba(30,87,153,1) 0%,rgba(41,137,216,1) 37%,rgba(125,185,232,1) 51%,rgba(125,185,232,1) 51%,rgba(32,124,202,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgba(30,87,153,1) 0%,rgba(41,137,216,1) 37%,rgba(125,185,232,1) 51%,rgba(125,185,232,1) 51%,rgba(32,124,202,1) 100%);
}
.weathercontainer > img{
	width:30%;


}
/* Survey Page Style */
